a:link{
    text-decoration:none;
    color: rgb(145, 14, 14);
    
}
a:hover{
    text-decoration: none;
    color: blue;
}
div{
    text-align: center;
}
nav{
    background-color: rgb(142, 165, 42);
    color: black;
}
h1{
    color: rgb(21, 138, 46);
}
body{
    display: list-item;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(217, 255, 0), rgb(79, 216, 66));
    
}
main{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('LogoBigInnovation.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    align-items: center;
    justify-items: center;
}
footer{
    background-color: rgb(122, 121, 49);
}
.titulo1{
    font-size: 80px;
}
.centralizar{
    text-align: center;
    font-size: 25px;
}